__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
.eggs/
*.egg
.mypy_cache/
.ruff_cache/
.pytest_cache/
htmlcov/
.coverage
.env
.venv/
venv/
.DS_Store
spark-warehouse/
metastore_db/
derby.log
